.vscode/**
.vscode-test/**
out/test/**
client/out/test/**
server/out/test/**
node_modules/**
client/node_modules/**
server/node_modules/**
src/**
client/src/**
server/src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
tslint.json
**/tsconfig.json
**/tsconfig.base.json
node.js.yml
**/.eslintrc.json
**/*.map
**/*.ts
.DS_Store
*.vsix